In [1]:
from generator import *

In [2]:
dm = DatabaseManager()
dg = DataGenerator()

In [3]:
dm.execute_query_from_file("create_tables_and_relations.sql")

AttributeError: 'DatabaseManager' object has no attribute 'execute_query_from_file'

In [3]:
dg.insert_roles()

In [3]:
dg.insert_to_employee(50)

In [3]:
dg.insert_to_user(100)

Error executing query: ('42000', "[42000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]String or binary data would be truncated in table 'u_bilko.dbo.User', column 'Country'. Truncated value: 'British Indian Ocean Territory (Chagos Archipelago'. (2628) (SQLExecDirectW)")

In [3]:
dm.insert_employee_role(1, "Translator")